body {
 background-color: rgb(112, 3, 190);
 color: black;
 h1 {
    color: white;
 }
 button {
    background-color: rgb(25, 3, 41);
a {color: white;
}
header {
    background-color: rgb(25, 3, 41);
    color: white;
}
p {
    color: #333333;
}
footer {
    background-color: rgb(25, 3, 41);
    color: white;
     h1 {
    color: #333333
}
}